# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head()

,Idade,Item ID,Login,Nome do Item,Sexo,Valor
0,38,165,Aelalis34,Bone Crushing Silver Skewer,Masculino,3.37
1,21,119,Eolo46,"Stormbringer, Dark Blade of Ending Misery",Masculino,2.32
2,34,174,Assastnya25,Primitive Blade,Masculino,2.46
3,21,92,Pheusrical25,Final Critic,Masculino,1.36
4,23,63,Aela59,Stormfury Mace,Masculino,1.27

## Informações Sobre os Consumidores

In [9]:
# Numero total de consumidores

total = purchase_file.count()

#total unico de consumidores

unicos = len(purchase_file['Login'].unique())

print('Total = ' + str(total))
print('Total unicos = ' + str(unicos))

Total = Idade           780
Item ID         780
Login           780
Nome do Item    780
Sexo            780
Valor           780
dtype: int64
Total unicos = 573

## Análise Geral de Compras

In [25]:
#Número de itens exclusivos
unique_products = len(purchase_file['Item ID'].unique())
#Preço médio de compra
media_de_valor = purchase_file['Valor'].mean()
#Número total de compras
total_compras = purchase_file['Valor'].count()
#Rendimento total
total_value = purchase_file['Valor'].sum()
total_value

2286.33

## Análise Demográfica

In [ ]:
# Implemente aqui sua solução

## Informações Demográficas Por Gênero

In [54]:
#Porcentagem e contagem de compradores masculinos
man = purchase_file[purchase_file['Sexo'] == 'Masculino'].count()
t = (man['Login'] / purchase_file['Sexo'].count()) * 100
t
#Porcentagem e contagem de compradores do sexo feminino
man = purchase_file[purchase_file['Sexo'] == 'Feminino'].count()
t2 = (man['Login'] / purchase_file['Sexo'].count()) * 100
t2
#Porcentagem e contagem de outros / não divulgados
man = purchase_file[purchase_file['Sexo'] == 'Outro / Não Divulgado'].count()
t4 = (man['Login'] / purchase_file['Sexo'].count()) * 100
t4

print(t4)

1.4102564102564104

## Análise de Compras Por Gênero

In [69]:
#Número de compras homem
#Preço médio de compra homem
#Valor Total de Compra homem
#Compras for faixa etária homem
homem = purchase_file[purchase_file['Sexo'] == 'Masculino']
homem.count()
homem['Valor'].mean()
homem['Valor'].sum()
homem.groupby(['Idade']).count()

#Número de compras mulher
#Preço médio de compra mulher
#Valor Total de Compra mulher
#Compras for faixa etária mulher
mulher = purchase_file[purchase_file['Sexo'] == 'Feminino']
mulher.count()
mulher['Valor'].mean()
mulher['Valor'].sum()
mulher.groupby(['Idade']).count()

#Número de compras outros
#Preço médio de compra outros
#Valor Total de Compra outros
#Compras for faixa etária outros
outros = purchase_file[purchase_file['Sexo'] == 'Outro / Não Divulgado']
outros.count()
outros['Valor'].mean()
outros['Valor'].sum()
outros.groupby(['Idade']).count()

       Item ID  Login  Nome do Item  Sexo  Valor
Idade
12           1      1             1     1      1
21           1      1             1     1      1
22           1      1             1     1      1
26           1      1             1     1      1
27           2      2             2     2      2
32           1      1             1     1      1
33           2      2             2     2      2
34           2      2             2     2      2

## Consumidores Mais Populares (Top 5)

In [133]:
#Login
t = purchase_file.groupby(['Login']).nunique()
for i, item in t:
    print(item)
#Número de compras
#Preço médio de compra
#Valor Total de Compra
#Itens mais populares

ValueError: too many values to unpack (expected 2)

## Itens Mais Populares

In [ ]:
# Implemente aqui sua solução

## Itens Mais Lucrativos

In [ ]:
# Implemente aqui sua solução

## Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>